@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	/* font-family: 'Merriweather', serif; */
}

body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

/* Layout
=================
 */

/* Generic */
.btn{
	padding: .7em;
	color: #FFF;
	background: #F2AA4C;
	border-radius: .2em;
	text-decoration: none;
	/* display: block; */
}

/* Navbar */
nav{
	padding: 0 2.5em;
	margin: 1em 0;
}
nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	margin-left: 1em;
}
nav li{
	display: inline-block;
	margin: 0 1em;
}
nav ul a{
	text-decoration: none;
	font-size: .9rem;
	color: #585858;
}
nav ul a:hover, nav ul a:active, nav ul a:focus{
	color: #000;
}
nav span{
	float: right;
}
nav span > a, nav span >i{
	margin: 0 1em;
	text-decoration: none;
}
nav span > i{
	margin-right: 3em;
}

/* main
===============
 */
.container{
	 margin: 0 auto;
	 width: 85%;
	 max-width: 2000px;
}
.row{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
}

/* Landing */
section:first-child h1 *, section:first-child h1{
	font-family: 'Merriweather', serif;
	font-size: 5rem;
	letter-spacing: -0.04em;
	font-weight: 600;
}
section:first-child h1{
	margin-bottom: .5em;
}
section:first-child span:last-child{
	color: #F2AA4C;
}
section:first-child > .row > div:first-child{
	margin-right: 3em;
	line-height: 160%;
	letter-spacing: 0.01em;
}
section:first-child > .row .btn{
	width: 10em;
	margin-top: 24em;
}




/* Section 2 */
section:nth-child(2) h2{
	font-family: 'Merriweather', serif;
	text-align: center;
	font-weight: 600;
	font-size: 4rem;
	line-height: 124%;
	letter-spacing: -0.04em;
}
section:nth-child(2) .row{
	justify-content: space-between;
}
section:nth-child(2) img{
	margin-right: 2em;
}



/* Section 3 */
section:nth-child(3) h2{
	font-family: 'Merriweather', serif;
	font-weight: 600;
	font-size: 48px;
	line-height: 124%;
	letter-spacing: -0.04em;
	color: #000000;
}
section:nth-child(3) > .row div:last-child{
	padding-left: 5em;
}
section:nth-child(3) > .row div:last-child > .col-100{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
	margin-bottom: 2em;
	flex-wrap: wrap;
	align-items: center;
}
section:nth-child(3) > .row div:last-child > .col-100 p{
	align-self: flex-end;
	float: right;
	width: 85%;
}
section:nth-child(3) > .row div:last-child > .col-100 p > span{
	font-weight: 700;
	display: block;
	margin-bottom: 1em;
}
/* section:nth-child(3) > .row div:last-child > .col-100 img{
	margin-right: 2em;
	height: 3.7rem;
}

section:nth-child(3) > .row div:last-child > .col-100:first-child img{
	margin-right: 2em;
	width: 5.7rem;
	height: 3.7rem;
}*/
section:nth-child(3) .btn{
	width: 40%;
	padding-left: 1.5em;
}




/* Section 4 */
section:nth-child(4) h2{
	font-family: 'Merriweather', serif;
	font-weight: 600;
	font-size: 48px;
	line-height: 124%;
	letter-spacing: -0.04em;
	color: #000000;
}
section:nth-child(4) .col-70{
	width: 70%;
	float: right;
}

section:nth-child(4) img{
	padding-right: 2em;
	float: right;
	padding-top: 1em;
}

section:nth-child(4) .col-70 p{
	font-weight: 300;
	font-size: 2rem;
	line-height: 160%;
	letter-spacing: 0.01em;
	color: #000000;
}

section:nth-child(4) .col-70 small > em{
	font-style: normal;
	font-weight: 800;
}

/* Section 5 */
section:nth-child(5){
	clear: both;
}
section:nth-child(5) .col-50:first-child{
	width: 50%;
}
section:nth-child(5) .col-50:last-child{
	align-self: center;
	width: 40%;
}
section:nth-child(5) .col-50:last-child h2{
	font-family: 'Merriweather', serif;
	font-weight: 600;
	font-size: 48px;
	line-height: 124%;
	letter-spacing: -0.04em;
}
section:nth-child(5) .col-50:last-child h2 > span{
	color: #F2AA4C;
	font-family: 'Merriweather', serif;
	font-weight: 600;
	font-size: 48px;
	line-height: 124%;
	letter-spacing: -0.04em;
}




/* Section 6 */
section:nth-child(6) h2{
	font-family: 'Merriweather', serif;
	font-weight: 600;
	font-size: 48px;
	line-height: 124%;
	letter-spacing: -0.04em;
}
section:nth-child(6) p{
	line-height: 160%;
	letter-spacing: 0.01em;
}
section:nth-child(6) p > span{
	font-weight: 700;
	display: block;
	line-height: 160%;
	letter-spacing: 0.01em;
}
/* section:nth-child(6) div{
	display: inline-block; */
}
/* .col-80{
	width: 6em;

} */
.col-80 img{
	/* position: absolute; */
	right: 0;
}
.col-80 img:last-child{
	/* position: absolute; */

}




/* Section Partners */
section:last-child
	.row{
		align-items: center;
		/* align-content: center; */
		/* justify-content: space-around; */
}


footer{
	padding: 0 2.5em;
	margin: 3em 0;
}
footer ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	margin-left: 1em;
}
footer li{
	display: inline-block;
	margin: 0 1em;
}
footer ul a{
	text-decoration: none;
	font-size: .9rem;
	color: #585858;
	font-weight: 600;
	line-height: 40px;
	letter-spacing: 0.01em;
}
footer ul a:hover, nav ul a:active, nav ul a:focus{
	color: #000;
}
footer span{
	float: right;
}
footer span > a, nav span >i{
	margin: 0 1em;
	text-decoration: none;
}
footer span > i{
	margin-right: 3em;
}


footer p{
	text-align: center;
}
footer p a{
	color: #F2AA4C;
	text-decoration: none;
}















body hr{
	border: .05rem solid #F0F0F0;
}
